{{#extends "base"}}
{{#block "content"}}
<h1>Students</h1>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.dob}}</td>
            <td>{{this.gender}}</td>
             <td><a href="/students/{{this.student_id}}/edit" class="btn btn-primary">Edit</a></td>
             <td><a href="/students/{{this.student_id}}/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}